{% extends "base_generic.html" %}

{% block content %}

    <h1>Турнирная таблица</h1>
    <table>
    <thead>
        <th>Команда</th>
        <th>Флаг 1</th>
        <th>Флаг 2</th>
        <th>Флаг 3</th>
        <th>Флаг 4</th>
        <th>Флаг 5</th>
        <th>Флаг 6</th>
        <th>Флаг 7</th>
        <th>Совет 1</th>
        <th>Совет 2</th>
        <th>Совет 3</th>
        <th>Совет 4</th>
        <th>Совет 5</th>
        <th>Совет 6</th>
        <th>Совет 7</th>
        <th>Совет 8</th>
        <th>Совет 9</th>
        <th>Совет 10</th>
    </thead>
    {% for user, results in dashboard.items %}
        <tr>
            <td>{{ user.username }}</td>
            {% for flag in results.0 %}
                <td>{% if flag.captured %} {{ flag.capture_time }} {% else %} 0 {% endif %}</td>
            {% endfor %}
            {% for advice in results.1 %}
                <td>{% if advice.showed %} {{ advice.advice_id.penalty }} {% else %} 0 {% endif %}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>

{% endblock %}

{% block sidebar %}
    {% load static %}
    <ul>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li>
            <a href="{% url 'index' %}">Сдать флаг</a>
        </li>
        <li>
            <a href="{% url 'mainkey' %}">Сдать главный флаг</a>
        </li>
        <li>
            <a href="{% url 'advice' %}">Советы коллег</a>
        </li>
         <li>
            <a href="{% url 'docs' %}">Документы</a>
        </li>
        <li>
            <a href="{% url 'dashboard' %}">Турнирная таблица</a>
        </li>
    </ul>
{% endblock %}