{% extends "base_generic.html" %}

{% block content %}

    <h1>Сдать csv фaйл:</h1>
    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_ul }}
    <input type="submit" value="Submit">
  </form>
    <h2>Захваченные флаги</h2>
    {% if em %}
        <p><strong>Сданный файл является неверным</strong></p>
    {% endif %}
    <ol>
        {% for x in cf %}
            <li>{{ x.hash }} : {{ x.description }} </li>
        {% endfor %}
    </ol>
{% endblock %}

{% block sidebar %}
    {% load static %}
    <ul>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li>
            <a href="{% url 'index' %}">Сдать флаг</a>
        </li>
        <li>
            <a href="{% url 'mainkey' %}">Сдать главный флаг</a>
        </li>
        <li>
            <a href="{% url 'advice' %}">Советы коллег</a>
        </li>
         <li>
            <a href="{% url 'docs' %}">Документы</a>
        </li>
    </ul>
{% endblock %}